<main>
  <section>
    <h1>Admin Page</h1>
    <p>
      Welcome to the Admin page. Here, you can create, update, and delete Product Categories, Booths, and Members. Use your powers wisely...
    </p>
  </section>

  <!-- TODO: Implement Authorization for the Admin Page -->

  <!-- TODO Might want to break out some functionality into smaller components -->
  <section>
    <span>
      <h3>Add New Category/Booth/Members</h3>
      <!-- TODO: Implement Category actions when backend is setup for Orgs -->
      <button>Add Product Category</button>
      <button routerLink="/add-booth" routerLinkActive="active">Add Booth</button>
      <button routerLink="/add-member" routerLinkActive="active">Add Member</button>
    </span>
    <span>
      <h3>Edit Category/Booth/Members</h3>
      <!-- TODO: Implement Category actions when backend is setup for Orgs -->
      <button>Edit Product Category</button>
      <button routerLink="/edit-booth" routerLinkActive="active">Edit a Booth</button>
      <button routerLink="/edit-member" routerLinkActive="active">Edit a Member</button>
    </span>
  </section>

  <section>
    <h3>View and Delete Category/Booth/Members</h3>
    <p>To perform an edit or delete, select the desired item in the dropdowns</p>
    <div>
      <label for="products"> Product Categories: </label>
      <select name="products" id="products" (change)="categorySelection($event.target.value)">
        <option value="none" selected disabled hidden>Select a product category</option>
        <option *ngFor="let category of categories" value="{{ category.OrganizationId }}">
          {{ category.OrganizationName }}
        </option>
      </select>
      <!-- TODO: Implement Category actions when backend is setup for Orgs -->
      <button>Delete</button>
    </div>
    <div>
      <label for="booths">Booths: </label>
      <select name="booths" id="booths" (change)="boothSelection($event.target.value)">
        <option selected>--</option>
        <option *ngFor="let booth of booths" value="{{ booth.GroupId }}">
          {{ booth.GroupName }}
        </option>
      </select>
      <button (click)="deleteBooth()">Delete</button>
      <section *ngIf="selectedBoothId != null">
        <fm-booth-display [selectedBoothId]="selectedBoothId"></fm-booth-display>
      </section>
    </div>
    <div>
      <label for="members">Members: </label>
      <select name="members" id="members" (change)="memberSelection($event.target.value)">
        <option selected>--</option>
        <option *ngFor="let member of members" value="{{ member.MemberId }}">
          {{ member.MemberName }}
        </option>
      </select>
      <button (click)="deleteMember()">Delete</button>
      <button (click)="displayEditMemberToggle()">Edit</button>
      <section *ngIf="selectedMemberId != null">
        <fm-member-display [selectedMemberId]="selectedMemberId" [selectedBoothId]="selectedBoothId"></fm-member-display>
      </section>
      <section *ngIf="selectedMemberId != null && displayEditMember">
        <fm-member-edit [selectedMemberId]="selectedMemberId" [selectedBoothId]="selectedBoothId"></fm-member-edit>
      </section>
    </div>
  </section>
</main>
