<section>
  <h2>Welcome!</h2>
  <p>Welcome to the Valley Farmer's Market web page. Here, you can browse the products on sale and sign up to sell your own goods!</p>
  <p>Next Farmer's Market is on: 01/14/2022</p>
  <!-- TODO: Make date dynamic -->
</section>

<section>
  <h2>Product Categories</h2>
  <p>Select a category that you would like the browse the products of:</p>
  <ul>
    <!-- TODO: Set up routes for these buttons -->
    <!-- TODO: Loop through orgs file and display THOSE as buttons -->
    <li><button>Fruits</button></li>
    <li><button>Vegetables</button></li>
    <li><button>Animal Products</button></li>
    <li><button>Nuts and Grains</button></li>
    <li><button>Craft Goods</button></li>
    <li><button>View All Groups</button></li>
  </ul>
</section>
