<main>
  <section>
    <h2>Welcome!</h2>
    <p>Welcome to the Valley Farmer's Market web page. Here, you can browse the products on sale and sign up to sell your own goods!</p>
    <p>Next Farmer's Market is on: 01/14/2022</p>
    <!-- TODO: Make date dynamic -->
  </section>

  <section>
    <h2>Product Categories</h2>
    <p>Select a category that you would like the browse the products of:</p>
    <ul>
      <!-- TODO: Set up routes for these buttons -->
      <li *ngFor="let category of categories">
        <button [routerLink]="['category-view', category]" routerLinkActive="active">{{ category.OrganizationName }}</button>
      </li>
      <li>
        <button routerLink="/view-all-booths" routerLinkActive="active">View All Groups</button>
      </li>
    </ul>
  </section>
</main>
